:root {
  --primary-color: #ffc107;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #000 !important;
}

a {
  text-decoration: none !important;
  color: aliceblue !important;
}

.titleFontFamily {
  text-transform: uppercase !important;
  color: #FFF;
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.colorTitle {
  color: var(--primary-color) !important;
}

