.card {
  border-radius: 10px !important;
  width: 370px;
  border: solid 1px #5f5f5f !important;
  transition: all linear 0.5s;
}

.card:hover {
  border: solid 1px var(--primary-color) !important;
}

.card:hover .card-img-top {
  opacity: 1;
  transform: scale(1.05);
  filter: brightness(0.8);
  transition: opacity 0.3s linear, transform 0.3s linear, filter 0.3s linear;
}

.card:hover .iconsCards img {
  transform: scale(1.2);
  transition: transform 0.3s linear;
}

.card-img-top {
  border-radius: 10px 10px 0 0 !important;
}

.card-body {
  border-top: solid 1px #ccc;
  background: black;
  border-radius: 0 0 10px 10px;
}

.iconsCards {
  width: fit-content;
  background-color: #cccccc3d;
  border-radius: 10px;
  padding: .5rem 0;
}

.iconsCards img {
  margin: 0 .5rem;
}

.btns-projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin-top: 1.2rem;
}

@media (max-width: 400px) {
  .containerCards {
    margin: 1rem !important;
  }

  .card {
    width: 20rem;
  }
}

@media (max-width: 500px) {
  .btns-projects-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }
}