.certificates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0.1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem;
  color: aliceblue !important;
  border: solid 1px #5f5f5f;
}

.card:hover {
  border: solid 1px var(--primary-color) !important;
}

.card:hover .card-img-top {
  opacity: 1;
  transform: scale(1.05);
  filter: brightness(0.8);
  transition: opacity 0.3s linear, transform 0.3s linear, filter 0.3s linear;
}

.card:hover .iconsCards img {
  transform: scale(1.2);
  transition: transform 0.3s linear;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
  color: white;
  height: 2rem;
}

.img-obj-container {
  object-fit: contain !important;
}