.btnProjects {
  margin-top: var(--spacing-lg) !important;
  background-color: transparent !important;
  font-weight: var(--font-weight-bold) !important;
  border: solid 1px var(--border-color) !important;
  transition: all linear var(--transition-normal) !important;
}

.btnProjects:hover {
  color: var(--primary-color) !important;
  border: solid 1px var(--primary-color) !important;
}
