#aboutMe {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ccc;

}

.titleAboutMe {
  font-size: 2.5rem;
  text-align: center;
}

.textAndVideoAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.descriptionAboutMe {
  padding: 2rem 17rem 2rem 17rem;
  width: 100%;
  font-size: 1.3rem;
  margin: 1rem 0 3rem 0;
  text-align: center;
}

.descriptionAndVideo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.iconsAboutMe {
  background-color: #cccccc3d;
  border-radius: 10px;
  width: fit-content;
  padding: .8rem;
  margin: 1rem 1rem 1rem 0;
}

.iconAboutMe {
  margin: 0.8rem;
  transition: transform 0.5s ease, opacity 0.3s ease, box-shadow 0.3s ease;
  /* Añade transiciones suaves */
}

.iconAboutMe:hover {
  transform: scale(1.1);
  /* Escala el icono al 110% */
  opacity: 0.9;
  /* Reduce la opacidad */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Añade sombra */
}


.myAvatar {
  width: 100%;
}

/* Contenedor de skills con distribución flexible */
.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.skillsContainer .iconsAboutMe:first-child {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skillsContainer .iconsAboutMe:nth-child(n+2) {
  flex-basis: calc(50% - 1rem);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0 !important;
}

@media (max-width: 992px) {
  .skillsContainer .iconsAboutMe:nth-child(n+2) {
    flex-basis: 100%;
  }
}

@media (max-width: 736px) {
  .skillsContainer .iconsAboutMe {
    flex-basis: 100%;
  }
}

@media (max-width: 1200px) {
  .iconsAboutMe {
    flex-wrap: wrap;
    justify-content: center;
  }

  .descriptionAboutMe{
    padding: 2rem;
  }
}

@media(max-width: 992px) {
  #aboutMe {
    height: auto;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  /* .myAvatar {
    display: none;
  } */


  .textAbout {
    width: 90%;
  }

  .titleAboutMe {
    text-align: center;
  }

  .iconsAboutMe {
    justify-content: center;
    align-items: center;
  }

  .iconAboutMe {
    margin-right: 1rem;
  }
}

@media(max-width: 736px) {
  .iconsAboutMe {
    display: flex;
  }

  .iconsAboutMe {
    width: 100%;
  }

  .iconAboutMe {
    width: 24px;
  }
}