#aboutMe {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ccc;

}

.textAndVideoAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  width: 80%;
}

.titleAboutMe {
  font-size: 2.5rem;
}

.descriptionAndVideo {
  display: flex;
  justify-content: space-between;
}

.descriptionAboutMe {
  width: 50rem;
  font-size: 1rem;
  margin: 1rem 0 3rem 0;
}


.iconsAboutMe {
  background-color: #cccccc3d;
  border-radius: 10px;
  width: fit-content;
  padding: .8rem;
  margin: 1rem 1rem 1rem 0;
}

.iconAboutMe {
  margin: 0.8rem;
  transition: transform 0.5s ease, opacity 0.3s ease, box-shadow 0.3s ease; /* Añade transiciones suaves */
}

.iconAboutMe:hover {
  transform: scale(1.1); /* Escala el icono al 110% */
  opacity: 0.9; /* Reduce la opacidad */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Añade sombra */
}


.myAvatar {
  width: 100%;
}

.video {
  width: 460px;
  height: 200px;
}

@media (max-width: 1200px) {
  .iconsAboutMe {
    flex-wrap: wrap;
    justify-content: start;
  }
}

@media(max-width: 992px) {
  #aboutMe {
    height: auto;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  /* .myAvatar {
    display: none;
  } */

  .descriptionAndVideo {
    flex-wrap: wrap;
  }

  .textAbout {
    width: 90%;
  }

  .titleAboutMe {
    text-align: center;
  }

  .iconsAboutMe {
    justify-content: center;
    align-items: center;
  }

  .iconAboutMe {
    margin-right: 1rem;
  }
}

@media(max-width: 736px) {
  .iconsAboutMe {
    display: flex;
  }

  .video {
    width: 95%;
  }

  .iconsAboutMe{
    width: 100%;
  }

  .iconAboutMe {
    width: 24px;
  }
}